<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="search" type="com.theironyard.bean.Search"*/-->
<!--/*@thymesVar id="types" type="java.util.List<Type>"*/-->
<!--/*@thymesVar id="widgets" type="org.springframework.data.domain.Page<Widget>"*/-->
<!--/*@thymesVar id="widget" type="com.theironyard.entity.Widget"*/-->
<!--/*@thymesVar id="pageable" type="org.springframework.data.domain.PageRequest"*/-->
<!--/*@thymesVar id="user" type="com.theironyard.entity.User"*/-->
<head>
    <title th:text="#{widget.warehouse}">Widget Warehouse</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="../static/scripts/widgets.js" th:src="@{/scripts/widgets.js}"></script>
</head>
<body>

<h1 th:text="#{widget.warehouse}">Widget Warehouse</h1>

<ul class="nav">
    <li><a th:href="@{/}" href="widgetList.html" th:text="#{widget.listWidgets}">List Widgets</a></li>
    <li th:if="${user}"><a th:href="@{/listUsers}" href="userList.html" th:text="#{widget.listUsers}">List Users</a></li>
    <li th:if="${user}"><a th:href="@{/logout}" href="loginForm.html" th:text="#{widget.logout}" id="logout">Logout</a></li>
    <li th:unless="${user}"><a th:href="@{/login}" href="loginForm.html" th:text="#{widget.login}">Login</a></li>
</ul>

<!--/* greeting */-->
<div class="greeting" th:if="${user}" th:text="#{welcomeMessage(${user.name})}">Welcome back, Chris Smith</div>

<h2>List Widgets</h2>

<ul class="nav">
    <li th:if="${user}"><a th:href="@{/editWidget}" href="widgetForm.html" th:text="#{widget.addAWidget}">Add a Widget</a></li>
</ul>

<form class="searchForm">
    <label for="name" class="search" th:text="#{widgetSearch.searchForAWidgetLabel}">
        Search for a widget:
    </label>
    <input type="text" name="name" id="name" placeholder="Name" th:placeholder="#{widgetSearch.name}" />
    <br />

    <label for="typeId" class="search" th:text="#{widgetSearch.typeLabel}">
        Type:
    </label>
    <select name="typeId" id="typeId">
        <option value=""></option>
        <option th:each="type : ${types}"
                th:value="${type.id}"
                th:text="${type.type}">Pinion</option>
    </select>
    <br />

    <label for="typeId" class="search" th:text="#{widgetSearch.idLabel}">
        Id:
    </label>
    <input type="text" name="id" id="id" placeholder="Id" th:placeholder="#{widgetSearch.id}" />
    <br />

    <button id="search" th:text="#{widgetSearch.search}">Search</button>
    <button id="reset" th:text="#{widgetSearch.reset}">Reset</button>
</form>

<!-- pagination -->
<div class="pagination">
    <span id="description"></span>
    <a href="#"><button id="back" th:text="#{widgetList.back}">Back</button></a>
    <a href="#"><button id="next" th:text="#{widgetList.next}">Next</button></a>
</div>

<!-- main section of my page -->
<section id="widgets">
</section>

<!-- this is a hidden template for displaying a widget -->
<div class="widget" id="template">
    <img src="" />

    <div class="detail" th:object="${widget}">
        <div class="widgetName">
        </div>

        <table>
            <tr>
                <th th:text="#{widget.typeLabel}">Type:</th>
                <td>
                    <ul class="types">
                        <li>Spring</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th th:text="#{widget.widthLabel}">Width:</th>
                <td class="width">5</td>
            </tr>
            <tr>
                <th th:text="#{widget.heightLabel}">Height:</th>
                <td class="height">5</td>
            </tr>
            <tr>
                <th th:text="#{widget.lengthLabel}">Length:</th>
                <td class="length">8</td>
            </tr>
            <tr>
                <th th:text="#{widget.notesLabel}">Notes:</th>
                <td class="notesLink">
                    <a href="widgetNotes.html">
                        5 notes...
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
