<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="search" type="com.theironyard.bean.Search"*/-->
<!--/*@thymesVar id="types" type="java.util.List<Type>"*/-->
<!--/*@thymesVar id="widgets" type="org.springframework.data.domain.Page<Widget>"*/-->
<!--/*@thymesVar id="widget" type="com.theironyard.entity.Widget"*/-->
<!--/*@thymesVar id="pageable" type="org.springframework.data.domain.PageRequest"*/-->
<!--/*@thymesVar id="type" type="com.theironyard.entity.Type"*/-->
<head>
    <title th:text="#{widget.warehouse}">Widget Warehouse</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css" />
</head>
<body>

<h1 th:text="#{widget.warehouse}">Widget Warehouse</h1>

<ul class="nav">
    <li><a th:href="@{/}" href="widgetList.html" th:text="#{widget.listWidgets}">List Widgets</a></li>
    <li><a th:href="@{/editWidget}" href="widgetForm.html" th:text="#{widget.addAWidget}">Add a Widget</a></li>
</ul>

<h2>List Widgets</h2>

<form th:action="@{/}" th:object="${search}" action="widgetList.html" method="get">
    <label for="name" class="search" th:text="#{widgetSearch.searchForAWidgetLabel}">
        Search for a widget:
    </label>
    <input type="text" name="name" id="name" th:value="*{name}" placeholder="Name" th:placeholder="#{widgetSearch.name}" />

    <select name="typeId" th:field="*{typeId}">
        <option value=""></option>
        <option th:each="type : ${types}"
                th:value="${type.id}"
                th:text="${type.type}">Pinion</option>
    </select>

    <input type="text" name="id" id="id" th:value="*{id}" placeholder="Id" th:placeholder="#{widgetSearch.id}" />

    <button th:text="#{widgetSearch.search}">Search</button>
</form>

<!-- main section of my page -->
<section>

    <div class="pagination">
        <span th:text="#{widgetList.pageOf(${pageable.offset + 1}, ${pageable.offset + widgets.numberOfElements}, ${widgets.totalElements})}">1 - 10 of 54</span>
        <a href="widgetList.html"
           th:href="@{/(page=${pageable.previousOrFirst().pageNumber}, name=${search.name}, typeId=${search.typeId}, id=${search.id})}">
            <button disabled="disabled"
                    th:disabled="${widgets.isFirst()}"
                    th:text="#{widgetList.back}">Back</button></a>

        <a href="widgetList.html"
           th:href="@{/(page=${pageable.next().pageNumber}, name=${search.name}, typeId=${search.typeId}, id=${search.id})}">
            <button th:disabled="${widgets.isLast()}"
                    th:text="#{widgetList.next}">Next</button></a>
    </div>

    <div th:each="widget : ${widgets}" class="widget">
        <img th:src="@{/images/Margaret_Hamilton.gif}" src="../static/images/Margaret_Hamilton.gif" />

        <div class="detail" th:object="${widget}">
            <a th:href="@{/editWidget(id=*{id})}" th:text="*{name}" href="widgetForm.html">Small Coil Spring</a>
            <br/>

            <strong th:text="#{widget.typeLabel}">Type:</strong>
            <span th:text="*{type.type}">Spring</span>
            <br/>

            <strong th:text="#{widget.widthLabel}">Width:</strong>
            <span th:text="*{width}">5</span>
            <br/>

            <strong th:text="#{widget.heightLabel}">Height:</strong>
            <span th:text="*{height}">5</span>
            <br/>

            <strong th:text="#{widget.lengthLabel}">Length:</strong>
            <span th:text="*{length}">8</span>
            <br/>

            <strong th:text="#{widget.weightLabel}">Weight:</strong>
            <span th:text="*{weight}">0.125</span>
            <br/>

            <strong th:text="#{widget.notesLabel}">Notes:</strong>
            <a th:href="@{/widgetNotes(id=*{id})}" href="widgetNotes.html" th:text="#{widgetList.notesLink(*{notes.size()})}">
                5 notes...
            </a>
        </div>
    </div>

</section>

</body>
</html>
